<h1>Listing books</h1>

<%= link_to 'New Book', new_book_path %>

<table>
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th colspan="3"></th>
	</tr>

	<% @books.each do |book| %>
		<tr>
			<td><%= book.title %></td>
			<td><%= book.author %></td>
			<td><%= link_to 'Show', book_path(book) %></td>
			<td><%= link_to 'Edit', edit_book_path(book) %></td>
			<td><%= link_to 'Remove', book_path(book), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
